

{% macro field(field, input) -%}
          <div class="clearfix {{'error' if field.errors}} ">
            {{ field.label }}
            <div class="input">
                {{ input }}
                {% if field.errors %}
                    <p>
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span><br>
                    {% endfor %}
                    </p>
                {% endif %}
            </div>
          </div>
{%- endmacro %}

{%- macro form_field_label(field) -%}
    <label class="control-label" for="{{ field.id }}">{{ field.label.text }}
    {%- if field.flags.required -%}
        <abbr title="Diese Feld muss angegeben werden">*</abbr>
    {%- endif %}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
    {% if field.description %}
        <p class="help-block">{{ field.description }}</p>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
    <div class="errors">
    {% if field.errors %}
        {%- for error in field.errors -%}
        <label class="error">{{ error }}</span>
        {%- endfor -%}
    {% endif %}
    </div>
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}

            <label class="control-label" for="{{ field.id }}">{{field.label.text}}</label>
            <div class="controls">
              <label class="checkbox">
                {{field(**kwargs)}}
                {{ field.description }}
              </label>
            </div>
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Zurück setzten", submit_class="primary") -%}
<div class="actions">
    <input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
    &nbsp;
    <button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}

{%- macro form_field(field) -%}
    <div class="control-group">
    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% else %}
        {% if field.type == 'BooleanField' %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else%}
            {{ form_field_label(field) }}
            <div class="controls" id="{{field.id}}-div">
                {% if field.type == 'RadioField' %}
                    {{ field(class='radio-group', **kwargs) }}
                {% else %}
                    {{ field(**kwargs) }}
                {% endif %}
                {{ form_field_description(field) }}
                {{ form_field_errors(field) }}
            </div>
        {% endif %}
    {% endif %}
    </div>
{%- endmacro -%}

{%- macro form_fields(fields, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
        {% if legend %}
            <legend>{{legend}}</legend>
        {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
                {% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro -%}

